body{margin: 0px;}


header{
    position: fixed;
}


#title{
    position: absolute;
    top: 200px;
    left: 33%;
    right: 30%;
}

#logo{
    position: absolute;
    margin-top: 140px;
    left: 20%;
}

#pagenum{
    position: absolute;
    margin-top: 145px;
    right: 10%;
}

#pagesnum{
    position: absolute;
    margin-top: 140px;
    right: 10%;
}


#text{
    font-family: 'Noto Serif KR', serif; font-weight: 500;
    text-align: left;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    margin-top: 270px;
    left: 20%;
    right: 10%;
}

#palette{
    position: absolute;
    margin-top: 460px;
    left: 20%;

}

#otherpalette{
    position: absolute;
    margin-top: 400px;
    left: 20%;

}


#redpage{
    background-color: #ef404d;
    width: 1920px; height: 900px; 
}

#bluepage{
    background-color: #004986;
    width: 1920px; height: 900px; 
}

#yellowpage{
    background-color: #ffa800;
    width: 1920px; height: 900px; 
}

#greenpage{
    background-color: #257040;
    width: 1920px; height: 900px; 
}

#otherpage{
    background-color: #3d313a;
    width: 1920px; height: 1400px; 
}
